.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantages-list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

   @media screen and (min-width: 1200px) {
       display: flex;
       flex-wrap: nowrap;
   }

}

.advantages-item {

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:nth-child(-n + 4) {
            margin-bottom: 0;
        }        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}


.advantages-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background: var(--secondary-bg-color);
    border-radius: 4px;
}

.advantages-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-desc {
    line-height: 1.71;
    color: var(--secondary-text-color)
}