.header {
    background-color: var(--main-bg-color);
    border: 1px solid #ECECEC;
}

.container-header {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
    }
}

.header-nav {

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }    
}

.logo {
    display: block;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    &--web {
        color: var(--accent-text-color)
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }    
}

.header-logo {
    color: var(--main-text-color);
    margin: 16px auto 16px 15px;

    @media screen and (min-width: 768px) {
        margin: 26px auto 26px 0;
    }
    
    @media screen and (min-width: 1200px) {
        margin: 24px 92px 25px 0px;
    }
}

.header-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;

    & .header-list__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--main-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color var(--anim-fast);
    }

    &__link.current::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-text-color);
        border-radius: 2px;
        left: 0;
        bottom: 0;
    }

    &__link:focus {
        color: var(--accent-text-color)
    }

    .current {
        color: var(--accent-text-color);
    }
    }    


    @media screen and (min-width: 1200px) {
        display: flex;

    & .header-list__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--main-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color var(--anim-fast);
    }

    &__link.current::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-text-color);
        border-radius: 2px;
        left: 0;
        bottom: 0;
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-text-color)
    }

    .current {
        color: var(--accent-text-color);
    }
    }    
}

.header-contact {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
        margin-top: 21px;
        margin-bottom: 21px;
        margin-right: 0;

    &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color var(--anim-fast);
    }

    &__link:focus {
        color: var(--accent-text-color)
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;

    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color var(--anim-fast);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-text-color)
    }

    & .header-contact__item:not(:last-child) {
        margin-right: 50px;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
    }
}