.team {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    background-color: var(--secondary-bg-color);
}

.team-list {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
       display: flex;
       flex-wrap: nowrap;
    }
}



.team-card {
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:nth-child(-n + 4) {
            margin-bottom: 0;
        }        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__tank {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }

    &__position {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--secondary-text-color)
    }
}